@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0xp;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #888787;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: #331F19;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    color:#331F19;
}